header {
  width: 85%;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-shape {
  --s: 10rem; /* control the size of the cut */
  --a: 65deg; /* control the depth of the curvature */
  --r: 22rem; /* control the rounded part */
  --_m: /var(--r) calc(2 * var(--r)) no-repeat radial-gradient(100% 50% at left, #000
        calc(100% - 1px), #0000);
  --_d: (var(--s) + var(--r)) * cos(var(--a));

  /* border: 1px solid red; */
  width: 50dvw;
  height: 90dvh;
  position: absolute;
  background-color: #193242;
  z-index: 0;

  border-top-right-radius: 15rem;
  border-bottom-right-radius: 15rem;

  mask: 100% calc(50% + var(--_d)) var(--_m),
    100% calc(50% - var(--_d)) var(--_m),
    radial-gradient(
        var(--s) at calc(100% + sin(var(--a)) * var(--s)) 50%,
        #0000 100%,
        #000 calc(100% + 1px)
      )
      calc(var(--r) * (sin(var(--a)) - 1)) 0 no-repeat,
    linear-gradient(
      #000 calc(50% - var(--_d)),
      #0000 0 calc(50% + var(--_d)),
      #000 0
    );
}

.inner-curve {
  width: 250px;
  aspect-ratio: 1;
  background: #ed303c;
  border-radius: var(--r);
  --_m: /var(--r) calc(2 * var(--r)) no-repeat radial-gradient(100% 50% at left, #000
        calc(100% - 1px), #0000);
  --_d: (var(--s) + var(--r)) * cos(var(--a));
  mask: 100% calc(50% + var(--_d)) var(--_m),
    100% calc(50% - var(--_d)) var(--_m),
    radial-gradient(
        var(--s) at calc(100% + sin(var(--a)) * var(--s)) 50%,
        #0000 100%,
        #000 calc(100% + 1px)
      )
      calc(var(--r) * (sin(var(--a)) - 1)) 0 no-repeat,
    linear-gradient(
      #000 calc(50% - var(--_d)),
      #0000 0 calc(50% + var(--_d)),
      #000 0
    );
}

.slide-right .header-data {
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;
}

.slide-left .header-data {
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation-delay: 2s;
}

@media screen and (max-width: 1024px) {
  header {
    width: 90%;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
  }
  .header-data h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 110%;
  }

  .header-block {
    gap: 1rem;
  }

  .header-data {
    gap: 2rem;
  }

  .hero-button {
    width: 10rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .top-part {
    font-size: 0.85rem;
  }

  .slide-right .header-data {
    animation: slide-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1.5s;
  }

  .slide-left .header-data {
    animation: slide-up 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation-delay: 1.5s;
  }

  .hero-shape {
    --s: 10rem; /* control the size of the cut */
    --a: 65deg; /* control the depth of the curvature */
    --r: 22rem; /* control the rounded part */
    --_m: calc(2 * var(--r)) / var(--r) no-repeat
      radial-gradient(50% 100% at top, #000 calc(100% - 1px), #0000);
    --_d: (var(--s) + var(--r)) * cos(var(--a));

    /* border: 1px solid red; */
    width: 100dvw;
    height: 55dvh;
    position: absolute;
    background-color: #193242;
    z-index: 0;
    top: 0;
    border-radius: 0;
    border-bottom-left-radius: 7.5rem;
    border-bottom-right-radius: 7.5rem;

    mask: calc(50% + var(--_d)) 100% var(--_m),
      calc(50% - var(--_d)) 100% var(--_m),
      radial-gradient(
          var(--s) at 50% calc(100% + sin(var(--a)) * var(--s)),
          #0000 100%,
          #000 calc(100% + 1px)
        )
        0 calc(var(--r) * (sin(var(--a)) - 1)) no-repeat,
      linear-gradient(
        #000 calc(50% - var(--_d)),
        #0000 0 calc(50% + var(--_d)),
        #000 0
      );
  }

  .inner-curve {
    width: 250px;
    aspect-ratio: 1;
    background: #ed303c;
    border-radius: var(--r);
    --_m: calc(2 * var(--r)) / var(--r) no-repeat
      radial-gradient(50% 100% at top, #000 calc(100% - 1px), #0000);
    --_d: (var(--s) + var(--r)) * cos(var(--a));

    mask: calc(50% + var(--_d)) 100% var(--_m),
      calc(50% - var(--_d)) 100% var(--_m),
      radial-gradient(
          var(--s) at 50% calc(100% + sin(var(--a)) * var(--s)),
          #0000 100%,
          #000 calc(100% + 1px)
        )
        0 calc(var(--r) * (sin(var(--a)) - 1)) no-repeat,
      linear-gradient(
        #000 calc(50% - var(--_d)),
        #0000 0 calc(50% + var(--_d)),
        #000 0
      );
  }
}
