.carousel {
  position: relative;
  /* width: 80%; */
  max-width: 60dvw;
  aspect-ratio: 16/9;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out; /* Fade transition */
  position: absolute; /* Stack items on top of each other */
  top: 0;
  left: 0;
}

.carousel-item.active {
  opacity: 1; /* Show the active item */
  position: relative; /* Bring active item to the normal flow */
}

.carousel img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
}

.carousel-btn.prev {
  left: 10px;
}

.carousel-btn.next {
  right: 10px;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: white;
}


/* Handle dark mode hiding */
@media (prefers-color-scheme: dark) {
    .video-dialog {
        display: none;
    }
}

/* General styles */
.video-dialog {
    display: block;
}

@media screen and (max-width: 575px) {
  .carousel {
    max-width: unset;
  }
}