.contact-me {
  width: 80%;
  margin: auto;
}

.contact-me-bg {
  height: 80dvh;
  /* min-height: 90vh; */
  /* max-height: 90vh; */
  background-color: rgba(25, 50, 66, 1);
  border: 2px solid yellow;
}

#Contact {
  position: relative;
  width: 100dvw;
  left: 0;
}

.top-img,
.bottom-img {
  position: absolute;
  z-index: 0;
}
.top-img {
  left: 0;
  top: 0;
}
.bottom-img {
  right: 0;
  bottom: 0;
}
.contact-me {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-box {
  margin-top: 10%;
  position: relative;
  display: flex;
  border-radius: 2em;
  background-color: rgba(18, 36, 47, 1);
  position: relative;
  /* border: 2px solid white; */
  min-width: 79.489%;
  max-width: 79.489%;
  min-height: 72.149%;
  max-height: 72.149%;
  z-index: 1;
}
.contact-form {
  /* border: 1px solid red; */
  position: absolute;
  width: 53%;
  height: 100%;
  right: 0;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.success {
  position: absolute;
  z-index: 0;
  left: 33%;
  bottom: 35%;
}
.success-animation {
  width: 100%;
  height: 100vh;
  background-size: cover;
  pointer-events: none;
}
.image-side {
  /* border: 1px solid blue; */
  position: relative;
  height: 100%;
}

.env {
  /* position: absolute; */
  top: 26%;
  right: 24%;
  z-index: 100;
}
.env-text {
  position: absolute;
  z-index: -1;
  text-align: center;
  color: white;
  font-size: 7rem;
  font-weight: 500;
  top: 55%;
  left: 35%;
  opacity: 0;
}

/* form */
.heading {
  margin: 2em 2em 2em;
  color: #fff;
  font-weight: 500;
  font-size: 2.25rem;
}
.heading h3 {
  color: rgba(255, 52, 0, 0.6);
  font-size: 1.5rem;
}
form,
form a {
  margin: 2em;
  font-weight: 200;
  font-size: 0.9rem;
  color: rgba(156, 156, 156, 1);
}
.input-grp {
  margin-bottom: 3em;
  position: relative;
}
.msg {
  margin-bottom: 1.5em;
}
input,
textarea {
  width: 90%;
  max-width: 90%;
  padding: 0.5em 0.5em 0.2em;
  outline: 0;
  border: 0;
  color: #fff;
  background: transparent;
  font-weight: 300;
  font-size: 0.9rem;
}
input {
  border-bottom: 1px solid rgba(128, 128, 128, 1);
  max-width: 80%;
}
textarea {
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 0.7em;
  font-size: 0.9rem;
}
label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  padding: 0.7em;
  transition: 200ms;
}

form a {
  margin: 0;
}
.submit-btn span {
  font-weight: 500;
  color: #fff;
  margin-left: 1.5em;
}

.submit-btn button {
  text-transform: capitalize;
  border: 0px solid;
  /* line-height: 1.4; */
  padding: 0.2em 0.8em;
  font-size: 0.9rem;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  border-radius: 13px;
  background-color: #ff4d4d;
  width: 7em;
  margin: 0 1.5em 0 0.5em;
}
.submit-btn button:hover {
  background-color: rgba(0, 0, 0, 0);
  /* border:.1px solid #ff4d4d; */
  color: #ff4d4d;
}

input:focus ~ label,
input:valid ~ label {
  padding-left: 0.3em;
  top: -1.6em;
}
textarea:focus ~ label,
textarea:valid ~ label {
  padding-left: 0.3em;
  top: -2.5em;
}

.name-email {
  display: flex;
  justify-content: space-between;
}

/* End of Contact */
