#Contact {
  position: relative;
  width: 100dvw;
}

.contact {
  height: 100dvh;
  background-color: rgba(25, 50, 66, 1);
}

.contact-me {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-img,
.bottom-img {
  position: absolute;
  z-index: 0;
}
.top-img {
  left: 0;
  top: 0;
  width: 40dvw;
  height: 65dvh;
}
.bottom-img {
  right: 0;
  bottom: -20dvh;
  width: 40dvw;
  height: 65dvh;
}

.contact-box {
  margin-top: 10%;
  position: relative;
  border-radius: 2em;
  background: linear-gradient(145deg, rgba(18, 36, 47, 1), rgba(34, 58, 72, 1));
  box-shadow: 4px 4px 10px rgba(18, 36, 47, 0.1),
    /* Bottom-right shadow */ -4px -4px 10px rgba(255, 255, 255, 0.1); /* Top-left light */
  width: 70dvw;
  height: 60dvh;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.image-side {
  position: relative;
  height: 100%;
  /* width: 50%; */
  aspect-ratio: 10/9;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  overflow: hidden;
}

.env {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  align-items: center;
  z-index: 100;
}
.env > lottie-player:nth-child(1) {
  width: 100% !important;
  height: 100% !important;
  padding: 4rem;
}

.contact-form {
  flex-grow: 1;
  height: 100%;
  border-radius: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.heading {
  margin: 1.5rem 2rem;
  color: #fff;
  flex-direction: column;
  width: 100%;
}

.heading h3 {
  color: var(--color-btn-red);
  font-size: 1.5rem;
  font-weight: 500;
}
.heading h1 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: var(--font-base);
}

.input-grp {
  margin-bottom: 3em;
  position: relative;
}
.msg {
  margin-bottom: 1.5em;
}

form,
form a {
  margin: 2em;
  font-weight: 200;
  font-size: 0.9rem;
  color: rgba(156, 156, 156, 1);
}

#email {
  width: 120%;
}
#name {
  width: 80%;
}


/* TODO: END */


input,
textarea {
  width: 90%;
  padding: 0.5em 0.5em 0.2em;
  outline: 0;
  border: 0;
  color: #fff;
  background: transparent;
  font-weight: 300;
  font-size: 0.9rem;
}
input {
  border-bottom: 1px solid rgba(128, 128, 128, 1);
  width: 100%;
}
textarea {
  border: 1px solid rgba(128, 128, 128, 1);
  border-radius: 0.7em;
  font-size: 0.9rem;
}
label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  padding: 0.5rem;
  transition: 200ms;
}

form a {
  margin: 0;
}
.submit-btn span {
  font-weight: 500;
  color: #fff;
  margin-left: 1.5em;
}

.submit-btn button {
  text-transform: capitalize;
  border: 0px solid;
  /* line-height: 1.4; */
  padding: 0.2em 0.8em;
  font-size: 0.9rem;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  border-radius: 10px;
  background-color: #ff4d4d;
  width: 7em;
  margin: 0 1.5em 0 0.5em;
}

.submit-btn a:hover {
  color: var(--color-hover-link-blue);
}

.submit-btn button:hover {
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  outline:.1px solid #ff4d4d;
  color: #ff4d4d;
}

input:focus ~ label,
input:valid ~ label {
  padding-left: 0.3em;
  top: -1.6em;
}
textarea:focus ~ label,
textarea:valid ~ label {
  padding-left: 0.3em;
  top: -2.5em;
}

.name-email {
  display: flex;
}

